.page-content-wrapper {
  float: left;
  width: 100%;
}
.page-content-wrapper .page-content {
  margin-left: 195px;
  margin-top: 0px;
  min-height: 600px;
  padding: 25px 20px 10px 20px;
}
.page-content-wrapper .page-content.no-min-height {
  min-height: auto;
}
.page-sidebar-fixed.page-sidebar-hover-on .page-content-wrapper .page-content {
  margin-left: 54px;
}
.page-sidebar-reversed .page-content-wrapper .page-content {
  margin-left: 0 !important;
  margin-right: 195px !important;
}
.page-sidebar-reversed.page-sidebar-fixed.page-sidebar-hover-on .page-content-wrapper .page-content {
  margin-left: 0;
  margin-right: 54px;
}
.page-sidebar-reversed.page-sidebar-closed .page-content-wrapper .page-content {
  margin-left: 0 !important;
  margin-right: 54px !important;
}
.page-sidebar-closed .page-content-wrapper .page-content {
  margin-left: 54px !important;
}
.page-sidebar-closed.page-sidebar-hide .page-content-wrapper .page-content {
  margin-left: 0 !important;
}
.page-sidebar-closed.page-sidebar-reversed.page-sidebar-hide .page-content-wrapper .page-content {
  margin-right: 0 !important;
}
.page-full-width .page-content-wrapper .page-content {
  margin-left: 0px !important;
}

.search-form input {
	padding-top: 15px;	
}