.doc-content {
	margin-bottom: 40px;
}
.doc-content p {
	font-size: 1.4rem !important;
}
.doc-content p.warning,
.doc-content span.warning {
	color: #FB5557;
}

.doc-content .code-comment {
	/* color: #8e908c; */
	color: #999;
	font-size: 85%;
}

.doc-content .code-warning {
	color: #FB5557;
}

.doc-content *+h1,
.doc-content *+h2,
.doc-content *+h3,
.doc-content *+h4,
.doc-content *+h5,
.doc-content *+h6 {
	margin-top:2em;	
}
.doc-content h2 {
	font-size:1.25em;
}
/* .doc-content > h2::before {
	content:counter(header2) ". ";
}
.doc-content > h3::before {
	content:counter(header2) "." counter(header3) " ";
} */

.doc-content > h2 {
	counter-increment: header3;
	counter-reset: header4;
}

.doc-content > h3 {
	counter-increment: header3;
	counter-reset: header4;
}
.doc-content h3 {
	color: #555;
	font-weight: 600;
	font-size: 1.8rem;
}

.page-nav {
	position: fixed;
	right: 20px;
	top: 90px;
	font: 14px Tahoma,Helvetica,Arial,"微软雅黑";
}

.page-nav ul {
	list-style-type: none;
	padding-left: 0;
}

.page-nav li {
	margin-bottom: 2px;
	padding-left: 0;
}
.page-nav ul li>a:hover {
	background:#999 !important;
	color: #fff;
}

.page-nav li.current a {
	color: #ededed;
	background: #666;
}

.page-nav a {
	display: block;
	padding: 5px 20px 5px 10px;
	color: #666;
	text-align: left;
	background-color: #ededed;
	text-decoration: none;
	font-size: .8em;
}

blockquote p {
	color: #999;
}
blockquote small {
	display: block;
	color: #888;
	text-align: right;
}

.doc-actions {
	position: relative;
	z-index: 999;
}
.doc-act-inner {
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 0;
	color: #555;
	border: 1px solid #eee;
	border-width: 0 0 1px 1px;
	border-radius: 0 2px 0 2px;
	cursor: pointer;
	z-index: 9999;
	padding: 5px 0;
}

.doc-act-inner span {
	padding: 5px 10px 5px 0px;
}
.doc-act-inner span:hover {
	background: #44b6ae;
	color: #fff;
}

.doc-act-inner span::before {
	content: "\f0c5";
	padding:3px 8px;
	display:inline-block;
	font-family: FontAwesome,sans-serif;
	font-style: normal;
	vertical-align: baseline;
	line-height: 1;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0,0);
	-ms-transform: translate(0,0);
	transform: translate(0,0);	
}

.doc-code {
	position:relative;
	word-wrap: break-word;
	font-size:1.4rem
}
.doc-code pre {
	color: #777;
	font-weight: 100;
	border: 0;
	border-radius: 3px !important;
	background: #f0f2f1;
}

.doc-code pre code {
	border: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}