/* 此处放置自定义及覆盖插件css的样式定义 */

/* jquery.dataTables.css文件中的21处样式 */
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 10px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0 !important;
}

/* preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e4e7ea; 
    z-index: 10000; 
}
#status {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%; 
    top: 50%;
    margin: -15px 0 0 -15px;
}
#status i {
	font-size: 32px;
}
