<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartsky.manual.dao.TrainningDocMapper" >
  <resultMap id="BaseResultMap" type="com.smartsky.manual.model.TrainningDoc" >
    <id column="STANDARD_ID" property="standardId" jdbcType="INTEGER" />
    <result column="STANDARD_NAME" property="standardName" jdbcType="VARCHAR" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
    <result column="SORT_ID" property="sortId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="INTEGER" />
    <result column="STANDARD_FOLDER" property="standardFolder" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    STANDARD_ID, STANDARD_NAME, FILE_PATH, SORT_ID, CREATE_TIME, CREATED_BY, UPDATE_TIME, 
    UPDATED_BY, STANDARD_FOLDER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_design_standard
    where STANDARD_ID = #{standardId,jdbcType=INTEGER}
  </select>
   <!-- 根据文件夹id查找文档 -->
  <select id="selectDocByParent" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from TBL_DESIGN_STANDARD
    where STANDARD_FOLDER = #{standardFolder,jdbcType=DECIMAL}
  </select>
   <!-- 查找文件夹为空的文档 -->
  <select id="selectDocByNullParent" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from TBL_DESIGN_STANDARD
    where STANDARD_FOLDER is null
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_design_standard
    where STANDARD_ID = #{standardId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smartsky.manual.model.TrainningDoc" >
    insert into tbl_design_standard (STANDARD_ID, STANDARD_NAME, FILE_PATH, 
      SORT_ID, CREATE_TIME, CREATED_BY, 
      UPDATE_TIME, UPDATED_BY, STANDARD_FOLDER
      )
    values (#{standardId,jdbcType=INTEGER}, #{standardName,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, 
      #{sortId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=INTEGER}, #{standardFolder,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smartsky.manual.model.TrainningDoc" >
    insert into tbl_design_standard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="standardId != null" >
        STANDARD_ID,
      </if>
      <if test="standardName != null" >
        STANDARD_NAME,
      </if>
      <if test="filePath != null" >
        FILE_PATH,
      </if>
      <if test="sortId != null" >
        SORT_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="standardFolder != null" >
        STANDARD_FOLDER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="standardId != null" >
        #{standardId,jdbcType=INTEGER},
      </if>
      <if test="standardName != null" >
        #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="standardFolder != null" >
        #{standardFolder,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smartsky.manual.model.TrainningDoc" >
    update tbl_design_standard
    <set >
      <if test="standardName != null" >
        STANDARD_NAME = #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        SORT_ID = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy,jdbcType=INTEGER},
      </if>
      <if test="standardFolder != null" >
        STANDARD_FOLDER = #{standardFolder,jdbcType=INTEGER},
      </if>
    </set>
    where STANDARD_ID = #{standardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smartsky.manual.model.TrainningDoc" >
    update tbl_design_standard
    set STANDARD_NAME = #{standardName,jdbcType=VARCHAR},
      FILE_PATH = #{filePath,jdbcType=VARCHAR},
      SORT_ID = #{sortId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=INTEGER},
      STANDARD_FOLDER = #{standardFolder,jdbcType=INTEGER}
    where STANDARD_ID = #{standardId,jdbcType=INTEGER}
  </update>
</mapper>