<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

<!-- 
	<http auto-config="true" use-expressions="true" access-denied-page="/auth/denied">  
	    <intercept-url pattern="/home" access="permitAll"/>  
	    <intercept-url pattern="/manage" access="hasRole('ROLE_ADMIN')"/>  
	    <intercept-url pattern="/trainning" access="hasRole('ROLE_USER')"/>  
	    <form-login  
	            login-page="/auth"   
	            authentication-failure-url="/auth?error=true"   
	            default-target-url="/home"/>  
	    <logout   
	            invalidate-session="true"   
	            logout-success-url="/auth"   
	            logout-url="/home"/>  
	</http>  
 -->
 
	 <!-- 对所有页面进行拦截，需要ROLE_USER权限-->
	 <http security="none" pattern="/auth"></http>
	 <http security="none" pattern="/auth/login"></http>
	 <http>  
	   	<intercept-url pattern="/**" access="ROLE_USER" />
	   	<intercept-url pattern="/manage" access="ROLE_USER, ROLE_ADMIN" />
	   	<form-login  
	   		login-page="/auth"
	        authentication-failure-url="/auth?error=true"   
	        default-target-url="/home"/> 
	 </http>
  
	<!-- 指定一个自定义的authentication-manager :customUserDetailsService -->  
	<beans:bean id="userDetailService" class="com.smartsky.manual.service.impl.CustomUserDetailsService"></beans:bean>
	<authentication-manager>
	  <authentication-provider user-service-ref="userDetailService">
		<password-encoder ref="passwordEncoder"/>
	  </authentication-provider>
	</authentication-manager>
	
	<!-- 对密码进行MD5编码 -->  
    <beans:bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder"/>
	
  
</beans:beans>